.markdown h1 {
  @apply text-2xl;
  @apply font-semibold;
}

.markdown h2 {
  @apply text-xl;
  @apply font-semibold;
  @apply mb-2;
  @apply mt-2;
}

.markdown p {
  @apply leading-tight;
  @apply max-w-2xl;
}

.markdown em {
  @apply text-gray-400;
}

.markdown ul {
  @apply list-disc;
  @apply ml-8;
  font-size: 0.92rem;
  @apply flex;
  @apply flex-col;
  @apply flex-wrap;
  @apply print:max-h-40;

}

@media (min-width: 1024px), print {
  .markdown ul {
    @apply gap-x-12;
    max-width: 400px;
  }
}

.markdown a {
  @apply text-blue-600;
}

.markdown strong {
  @apply font-medium;
}

.markdown hr {
  @apply border-gray-300;
}

.cv-header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  flex-wrap: wrap;
}

.cv-profile-img {
  height: 9rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 100%;
  border: 2px rgb(37 99 235 /0.7) solid;
}

@media not print {
  .markdown h1 {
    @apply text-4xl;
  }

  .markdown h2 {
    @apply text-3xl;
  }

  .markdown p {
    @apply text-xl;
  }

  .markdown em {
    @apply text-gray-300;
  }

  .markdown ul {
    @apply text-lg;
    @apply lg:max-h-48;
  }

  .cv-profile-img {
    @apply h-32;
    @apply w-32;
    @apply sm:h-56;
    @apply sm:w-56;
    border: 0;
  }

  .cv-header {
    @apply mb-6;
  }
}
